.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.my-drop-zone { 
    border: dotted 3px lightgray;
}

.btn-sm {
    margin: 4px;
}
 .not-approved {
     opacity: 0.2;
 }

 .img-wrapper {
     position: relative
 }

.img-text {
     position: relative;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
     bottom: 40%;
     margin-bottom: -40%;
 }

 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }